{
  "extends": [
    "plugin:prettier/recommended",
    "eslint:recommended",
    "plugin:import/recommended",
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/recommended"
  ],
  "settings": {
    "react": {
      "version": "detect"
    },
    "import/resolver": {
      "node": {
        "extensions": [
          ".js",
          ".ts"
        ]
      },
      "typescript": {
        "alwaysTryTypes": true
      },
      "import/parsers": {
        "@typescript-eslint/parser": [
          ".ts"
        ]
      }
    }
  },
  "plugins": [
    "prettier",
    "@typescript-eslint"
  ],
  "env": {
    "browser": true,
    "node": true,
    "es6": true,
    "jest": true
  },
  "rules": {
    "@typescript-eslint/explicit-module-boundary-types": "off",
    "max-len": [
      "warn",
      120
    ],
    "react/prop-types": "off",
    "import/no-cycle": [
      "error",
      {
        "maxDepth": 1
      }
    ],
    "prettier/prettier": [
      "error",
      {
        "endOfLine": "auto"
      }
    ],
    "no-console": [
      "error",
      {
        "allow": [
          "error"
        ]
      }
    ],
    "import/namespace": "off",
    "@typescript-eslint/ban-ts-comment": "off",
    "@typescript-eslint/no-explicit-any": "off"
  }
}
